* {
    margin: 0;
    padding: 0;
    border: 0;

    background-color: #273A4E;
    color: #F4F4F1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

body {
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 2em;
    text-align: center;
}

#toc {
    width: 100%;
}

.section {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project, .project_title, .project_title h3, .project_title h3 a, .project_image, .project_image img {
    background-color: #758487;
}

.project {
    padding: 10px;
    width: 30%;
    height: 200px;

    border-radius: 10px;
}

.project_title {
    height: 15%;
    text-align: center;
}

.project_image {
    position: relative;
    height: 85%;

    overflow: hidden;
}

.project_image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    object-fit: cover;
}